* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Kumbh Sans", sans-serif;
	line-height: 1.6;
	font-size: 14px;
}

h2 {
	font-size: 200%;
}

h3 {
	font-size: 110%;
	color: rgb(106, 106, 106);
}

a {
	text-decoration: none;
}

header {
	background-color: rgb(0, 0, 108);
	color: white;
	height: 6vh;
	line-height: 6vh;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.logo {
	height: 6vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.logo img {
	height: 50%;
}

input:focus,
textarea:focus,
select:focus {
	outline: none;
}

.wrapper {
	width: 90%;
	max-width: 1080px;
	margin: 0 auto;
}

.restaurant-box {
	margin-bottom: 2vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: rgb(244, 244, 244);
	border-radius: 5px;
}

@media screen and (max-width: 700px) {
	.restaurant-box {
		display: flex;
		flex-direction: column;
		height: none;
	}
}

.restaurant-box .restaurant-tags {
	margin-top: 1vh;
	margin-left: 20px;
}

.restaurant-box .restaurant-tags {
	display: inline-block;
}

.restaurant-box .restaurant-tags li {
	display: list-item;
	color: rgb(0, 166, 255);
	padding-right: 26px;
	list-style-type: circle;
	float: left;
}

.restaurant-box .restaurant-tags li:first-child {
	list-style: none;
	margin-left: -20px;
}

.box-desc {
	font-weight: 100;
	font-size: 100%;
	height: 100%;
	padding: 2vh;
}

.restaurant-box img {
	width: 100%;
	height: 20vh;
	object-fit: cover;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

.restaurant-listings {
	width: 70%;
}

.filter__content input {
	font-family: "Kumbh Sans", sans-serif;
	width: 100%;
	padding: 12px 24px;
	background-color: transparent;
	transition: transform 250ms ease-in-out;
	color: #575756;
	background-color: rgb(237, 237, 237);
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-size: 18px 18px;
	background-position: 95% center;
	border-radius: 5px;
	transition: all 250ms ease-in-out;
	backface-visibility: hidden;
	transform-style: preserve-3d;
	border: none;
}

.more-info {
	margin-top: 2vh;
}

.more-info a {
	padding: 8px 20px 8px 20px;
	border: none;
	background-color: rgb(0, 166, 255);
	color: white;
	border-radius: 2px;
	font-family: "Kumbh Sans", sans-serif;
	cursor: pointer;
}

.listings-container {
	display: flex;
	margin-top: 5vh;
}

.location-dropdown {
	position: relative;
	display: inline-block;
	width: 100%;
	text-align: left;
	padding: 0;
	margin-bottom: 5vh;
}

.location-dropdown-content {
	display: none;
	position: absolute;
	min-width: 160px;
	z-index: 1;
	background-color: white;
	padding-right: 20px;
	padding-bottom: 20px;
	border-bottom-right-radius: 5px;
	width: 100%;
	opacity: 0;
	transition: all 0.5s ease;
}

.location-dropdown-content p {
	margin-top: 10px;
}

.location-dropdown-content a {
	color: rgb(58, 58, 58);
	transition: all 0.15s ease;
}

.location-dropdown-content a:hover {
	color: rgb(108, 108, 108);
	transition: all 0.15s ease;
}

.location-dropdown:hover .location-dropdown-content {
	display: block;
	opacity: 1;
	transition: all 0.5s ease;
}

.dropdown-icon {
	position: absolute;
	padding-top: 8px;
	padding-left: 8px;
	font-size: 80%;
	color: grey;
}

@media screen and (max-width: 700px) {
	.listings-container {
		flex-direction: column;
	}

	.location-dropdown {
		width: 100%;
	}

	.restaurant-listings {
		width: 100%;
	}

	.box-desc {
		padding-top: 0vh;
	}
}

.hidden {
	display: none;
}

.vh,
.filter input[type="checkbox"] {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: fixed;
	width: 1px;
}

.hide-item,
input[type="checkbox"]#takeaway:checked
	~ .filter__content
	.filter__item:not([data-filter*="takeaway"]) {
	visibility: hidden;
	width: 0;
	transition: 0s 0.2s;
}
.hide-item span,
input[type="checkbox"]#takeaway:checked
	~ .filter__content
	.filter__item:not([data-filter*="takeaway"])
	span {
	visibility: hidden;
	opacity: 0;
	transform: scale(0.9);
}

.show-item,
input[type="checkbox"]#all:checked
	~ .filter__content
	.filter__item[data-filter] {
	visibility: visible;
	width: 49%;
	transition: 0s;
}
.show-item span,
input[type="checkbox"]#all:checked
	~ .filter__content
	.filter__item[data-filter]
	span {
	visibility: visible;
	opacity: 1;
	transform: scale(1);
}

.filter {
	background: #fff;
	margin: auto;
	display: flex;
	border-radius: 2px;
	width: 100%;
}

.filter__control {
	flex: 1;
	padding: 40px 0;
	background: rgba(27, 168, 255, 0);
	position: sticky;
	align-self: start;
	top: 5vh;
}
.filter__control h3 {
	text-transform: uppercase;
	color: #a2a2a2;
	font-size: 12px;
	line-height: 1;
	margin: 0;
}
.filter__button {
	display: block;
	padding: 10px 0px 10px 0px;
	cursor: pointer;
	color: #333;
	position: relative;
	overflow: hidden;
	transition: 0.2s ease-in-out;
}
.filter__button:before {
	content: "";
	display: block;
	background: rgba(27, 168, 255, 0.5);
	opacity: 0.5;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 10px;
	transform: translateX(-10px);
	transition: 0.2s ease-in-out;
}
.filter__button:hover {
	padding-left: 25px;
}
.filter__button:hover:before {
	transform: translateX(-5px);
}
.filter__button.disabled,
input[type="checkbox"]#all:checked
	~ .filter__control
	.filter__button:not([for="all"]) {
	color: #ccc;
	padding-left: 20px !important;
	background: none !important;
	cursor: default;
	pointer-events: none;
}
.filter__button.disabled:before,
input[type="checkbox"]#all:checked
	~ .filter__control
	.filter__button:not([for="all"]):before {
	background: #ccc;
	opacity: 1;
	transform: translateX(-10px) !important;
}
.filter__content {
	width: 75%;
	margin-top: 5vh;
}
.filter__list {
	list-style-type: none;
	margin: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.filter__item {
	position: relative;
	width: 49%;
}

.filter__item span {
	display: flex;
	position: absolute;
	top: 20px;
	bottom: 20px;
	left: 20px;
	right: 20px;
	background: #eee;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-size: 50px;
	font-weight: 300;
	border-radius: 2px;
	transition: 0.2s;
}

input[type="checkbox"]#takeaway:checked
	~ .filter__control
	.filter__button[for="takeaway"] {
	background: #fff;
	padding-left: 30px;
}
input[type="checkbox"]#takeaway:checked
	~ .filter__control
	.filter__button[for="takeaway"]:before {
	transform: translateX(0px);
}

input[type="checkbox"]#all:checked ~ input[type="checkbox"] {
	display: none;
}
input[type="checkbox"]#all:checked
	~ .filter__control
	.filter__button[for="all"] {
	background: #fff;
	padding-left: 30px;
}
input[type="checkbox"]#all:checked
	~ .filter__control
	.filter__button[for="all"]:before {
	transform: translateX(0px);
}

@media screen and (max-width: 33.75rem) {
	.filter {
		flex-direction: column;
	}
	.filter__control {
		padding: 40px 0 20px;
		white-space: nowrap;
		overflow-x: scroll;
	}
	.filter__button {
		display: inline-block;
	}
	.filter__content {
		width: 100%;
	}
	.filter__item {
		width: 49%;
	}
}
